.note-pocket {
  background-image: url('./assets/background.jpg');
  background-repeat: repeat;
  flex: 1 0 0%;
  user-select: none;

  &__create-note-button {
    background: none;
    border: 3px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 12px 14px;
    transition: background-color .5s, color .5s;
    margin: 20px;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
